---
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
import Projects from "../components/Projects.astro";
import Resume from "../components/Resume.astro";
---

<Layout title="Kenneth Mark Hui">
  <main class="m-auto max-w-prose w-full px-6 sm:px-0">
    <CTA />
    <hr class="border-nord3 opacity-30" />
    <Projects />
    <hr class="border-nord3 opacity-30" />
    <Resume />
  </main>
</Layout>
