---
import Icon from "astro-icon";
---

<footer
  class="text-sm text-center border-t px-3.5 py-4 border-nord5 dark:border-opacity-10"
>
  <p>
    Made with <a
      href="https://astro.build"
      aria-label="Astro"
      title="Astro"
      rel="noreferrer noopener"
      target="_blank"
      class="hover:text-nord10 dark:hover:text-nord7 duration-300"
      ><Icon name="astro" class="w-6 inline" />
    </a>
  </p>
</footer>
