---
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  class="fixed bg-nord6/80 dark:bg-nord0/80 backdrop-blur-lg w-full flex items-center justify-center z-50 py-6 sm:py-12 px-6 sm:px-12"
>
  <div class="flex justify-end w-full max-w-prose">
    <ThemeToggle />
  </div>
</header>
