---
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  class="fixed bg-nord6/80 dark:bg-nord0/80 backdrop-blur-lg w-full flex items-center justify-center z-50 py-6 sm:py-12 px-6 sm:px-12"
>
  <nav class="flex w-full max-w-prose">
    <div class="flex-grow">
      <a
        href="#"
        class="hover:text-nord10 dark:hover:text-nord7 duration-300 text-2xl"
        >../</a
      >
    </div>
    <ThemeToggle />
  </nav>
</header>
